body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    scroll-behavior: smooth;
    flex: 1; /* 让 content 区域占据所有剩余空间 */
    overflow-y: auto; /* 关键：当内容溢出时，启用垂直滚动 */
    padding: 0 5%;
    min-height: 0;
}

.end{
    padding: 10px;
}

.end p{
    text-align: center;
    font-size: 12px;
    color: #aaaaaa;
    margin: 5px;
}

#player {
    display: block; /* 变为块级元素 */
    margin: 0 auto; /* 左右自动外边距实现居中 */
    width: 100%;
    max-width: 500px;
}

.sentence {
    background: #333333;
    color: #aaaaaa;
    margin: 8px 0;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
}

.sentence:hover {
    color: white;
    transform: translateX(8px);
    background: linear-gradient(135deg, #667eea, #764ba2);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.3);
}

.sentence.active {
    color: #ffffff;
    background: #3c45cc; /* 淡黄色高亮 */
    transform: translateX(8px);
    box-shadow: 0 10px 25px rgba(102, 126, 234, 0.3);
}

.sentence::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(135deg, #667eea, #764ba2);
    transform: scaleY(0);
    transition: transform 0.3s ease;
}

.sentence:hover::before {
    transform: scaleY(1);
}


.en {
    font-size: 18px;
    font-weight: bold;
}

.cn {
    font-size: 12px;
    color: #b5b5b5;
}
